<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Tim</li>
      <li>Tom</li>
      <li>jim</li>
      <li>John</li>
    </ul>
  </body>
</html>