<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coke</li>
      <li>Pepsi</li>
      <li>mars bars</li>
      <li>milky bar</li>
      <li>Beer</li>
      <li>Wine</li>
      <li>Chicken Wings</li>
    </ul>
  </body>
</html>